@page "/text/misc/charwidth"

<PageTitle>Textify - Misc - Character Width - Aptivi Project Demos</PageTitle>

@using System.Threading;
@using System.Net;
@using System.Text;
@using System.IO
@using System.Text.Json
@using Demos.Data
@using Textify.General
@inject IJSRuntime JSRuntime;

<Hero Title="Textify - Misc - Character Width">
	You can demonstrate a feature from Textify where we showcase the text casing feature,
	and we provide the API documentation here for future reference. This demonstrates the
	"Get Character Width" feature.
</Hero>
<BrandedBorder>
	<div class="mb-3">
		<label class="form-label">Enter character(s):</label>
		<InputText class="form-control" @bind-Value="Input"></InputText>
	</div>
	<p>Results from <code>GetCharWidth()</code> and <code>GetCharWidthType()</code></p>
	@if (Results is not null)
	{
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Character</th>
					<th scope="col">Width</th>
					<th scope="col">Type</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var result in Results)
				{
					<tr>
						<td>@result.Character</td>
						<td>@result.Width</td>
						<td>[@((int)result.Type)] @result.Type</td>
					</tr>
				}
			</tbody>
		</table>
    }
    else if (Errored)
    {
        <p>Error obtaining results: @ErrorReason</p>
    }
	<div class="d-grid gap-2 d-sm-flex">
		<button class="btn btn-primary btn-lg" type="button" @onclick="@ClickEvents[0]">Analyze</button>
		<button class="btn btn-primary btn-lg" type="button" @onclick="@ClickEvents[1]">API Reference</button>
		<button class="btn btn-primary btn-lg" type="button" @onclick="@ClickEvents[2]">API Reference</button>
	</div>
</BrandedBorder>

@code {
    public string Input { get; set; } = "こんにちは、Nitrocid！";
    public bool Errored { get; set; } = false;
    public string ErrorReason { get; set; } = "";
	public List<CharWidthInfo> Results { get; set; }
	public EventCallback[] ClickEvents => [
		EventCallback.Factory.Create(this, ProcessInput),
		EventCallback.Factory.Create(this, new Action(async () => await JSRuntime.InvokeVoidAsync("open", "https://aptivi.github.io/Textify/api/Textify.General.TextTools.html#Textify_General_TextTools_GetCharWidth_System_Int32_", "_blank"))),
		EventCallback.Factory.Create(this, new Action(async () => await JSRuntime.InvokeVoidAsync("open", "https://aptivi.github.io/Textify/api/Textify.General.TextTools.html#Textify_General_TextTools_GetCharWidthType_System_Int32_", "_blank"))),
	];

	public void ProcessInput()
    {
        try
        {
            Errored = false;
            Results = new();
            foreach (char inputChar in Input)
            {
                int width = TextTools.GetCharWidth(inputChar);
                var widthType = TextTools.GetCharWidthType(inputChar);
                var charWidthInfo = new CharWidthInfo(inputChar, width, widthType);
                Results.Add(charWidthInfo);
            }
        }
        catch (Exception ex)
        {
            Errored = true;
            ErrorReason = ex.Message;
        }
	}
}
