@page "/text/prefixes/verifysuffix"

<PageTitle>Textify - Prefixes and Suffixes - Suffix Verification - Aptivi Project Demos</PageTitle>

@using System.Threading;
@using System.Net;
@using System.Text;
@using System.IO
@using System.Text.Json
@using Demos.Data
@using Textify.General
@inject NavigationManager NavManager

<Hero Title="Textify - Prefixes and Suffixes - Suffix Verification">
	You can demonstrate a feature from Textify where we showcase the text casing feature,
	and we provide the API documentation here for future reference. This demonstrates the
	"Verify suffix" feature.
</Hero>
<BrandedBorder>
	<div class="mb-3">
		<label class="form-label">Enter some text:</label>
		<InputText class="form-control" @bind-Value="Input"></InputText>
	</div>
	<div class="mb-3">
		<label class="form-label">Enter some suffix:</label>
		<InputText class="form-control" @bind-Value="Suffix"></InputText>
	</div>
	<label>
		String comparison method: <InputSelect @bind-Value="Comparison">
			@for (int i = 0; i < Comparisons.Length; i++)
			{
				var comparisonName = Comparisons[i];
				<option value=@comparisonName>@comparisonName</option>
			}
		</InputSelect>
	</label>
    <p>Result from <code>VerifySuffix()</code>: @Result</p>
    @if (Errored)
    {
        <p>Error obtaining results: @ErrorReason</p>
    }
	<div class="d-grid gap-2 d-sm-flex">
		<button class="btn btn-primary btn-lg" type="button" @onclick="@ClickEvents[0]">Verify suffix</button>
		<button class="btn btn-primary btn-lg" type="button" @onclick="@ClickEvents[1]">API Reference</button>
	</div>
</BrandedBorder>

@code {
	public StringComparison[] Comparisons = Enum.GetValues<StringComparison>();
	public string Input { get; set; } = "Hello world! How's things?";
	public string Suffix { get; set; } = " How's things?";
    public StringComparison Comparison { get; set; } = StringComparison.CurrentCulture;
    public bool Errored { get; set; } = false;
    public string ErrorReason { get; set; } = "";
	public string Result { get; set; }
	public EventCallback[] ClickEvents => [
		EventCallback.Factory.Create(this, ProcessInput),
		EventCallback.Factory.Create(this, new Action(() => NavManager.NavigateTo("https://aptivi.github.io/Textify/api/Textify.General.TextTools.html#Textify_General_TextTools_VerifySuffix_System_String_System_String_System_StringComparison_"))),
	];

	public void ProcessInput()
    {
        try
        {
            Errored = false;
            Result = $"{(Input ?? "").VerifySuffix(Suffix, Comparison)}";
        }
        catch (Exception ex)
        {
            Errored = true;
            ErrorReason = ex.Message;
        }
	}
}
