@page "/text/manipulation/splitdquotes"

<PageTitle>Textify - Manipulation - Split With Double Quotes - Aptivi Project Demos</PageTitle>

@using System.Threading;
@using System.Net;
@using System.Text;
@using System.IO
@using System.Text.Json
@using Demos.Data
@using Textify.General
@inject IJSRuntime JSRuntime;

<Hero Title="Textify - Manipulation - Split With Double Quotes">
	You can demonstrate a feature from Textify where we showcase the text casing feature,
	and we provide the API documentation here for future reference. This demonstrates the
	"Split a string with double quotes support" feature.
</Hero>
<BrandedBorder>
	<div class="mb-3">
		<label class="form-label">Enter some text:</label>
		<InputText class="form-control" @bind-Value="Input"></InputText>
	</div>
	<label><InputCheckbox @bind-Value="NoRelease"></InputCheckbox> Don't release the double quotes when splitting</label>
	<p>Results from <code>SplitEncloseDoubleQuotes()</code></p>
	@if (Results is not null)
	{
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Sentence</th>
					<th scope="col">Length</th>
					<th scope="col">Index</th>
				</tr>
			</thead>
			<tbody>
				@for (int i = 0; i < Results.Length; i++)
				{
					string result = Results[i];
					<tr>
						<td>@result</td>
						<td>@result.Length</td>
						<td>@i</td>
					</tr>
				}
			</tbody>
		</table>
    }
    else if (Errored)
    {
        <p>Error obtaining results: @ErrorReason</p>
    }
	<div class="d-grid gap-2 d-sm-flex">
		<button class="btn btn-primary btn-lg" type="button" @onclick="@ClickEvents[0]">Split</button>
		<button class="btn btn-primary btn-lg" type="button" @onclick="@ClickEvents[1]">API Reference</button>
		<button class="btn btn-primary btn-lg" type="button" @onclick="@ClickEvents[2]">API Reference</button>
	</div>
</BrandedBorder>

@code {
	public string Input { get; set; } = "Welcome to the work meeting \"Software Development\" where we discuss the future software development plans related to \"Project Reload\"!";
    public bool NoRelease { get; set; } = false;
    public bool Errored { get; set; } = false;
    public string ErrorReason { get; set; } = "";
	public string[] Results { get; set; }
	public EventCallback[] ClickEvents => [
		EventCallback.Factory.Create(this, ProcessInput),
		EventCallback.Factory.Create(this, new Action(async () => await JSRuntime.InvokeVoidAsync("open", "https://aptivi.github.io/Textify/api/Textify.General.TextTools.html#Textify_General_TextTools_SplitEncloseDoubleQuotes_System_String_", "_blank"))),
		EventCallback.Factory.Create(this, new Action(async () => await JSRuntime.InvokeVoidAsync("open", "https://aptivi.github.io/Textify/api/Textify.General.TextTools.html#Textify_General_TextTools_SplitEncloseDoubleQuotesNoRelease_System_String_", "_blank"))),
	];

	public void ProcessInput()
    {
        try
        {
            Errored = false;
            Results =
                NoRelease ?
                Input.SplitEncloseDoubleQuotesNoRelease() :
                Input.SplitEncloseDoubleQuotes();
        }
        catch (Exception ex)
        {
            Errored = true;
            ErrorReason = ex.Message;
        }
	}
}
